{% extends 'p3app/base.html' %}
{% load static %}

{% block titulo%}
    Catalogo
{% endblock titulo%}

{% block cabecera %}
    Catalogo de productos
{% endblock cabecera %}

{% block descripcion %}
    ¡Revisa nuestra variedad de productos!
{% endblock descripcion %}

{% block boton %}
    <a class="btn btn-primary" href="{% url 'catalogoform' %}">
        ¡Registra tus artículos!
    </a>
{% endblock boton %}

{% block contenido %}
    <h2>¡Registra tu artículo!</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {% comment %} {{form.as_table}} {% endcomment %}
            <p>Articulo: <input type="text" name="articulo" id="articulo"></p>
            <p>Cantidad: <input type="number" name="cantidad" id="cantidad"></p>
            <p>Categoría: <input type="text" name="categoria" id="categoria"></p>
        </table>
        <input type="submit" value="Registrar">
    </form>
{% endblock contenido %}
